body, html{
    background-color: blueviolet;
}
.navbar.navbar-inverse{
    background-color: rgb(12, 28, 41);
    margin-bottom: 0;
}
.fonthead1{
    color:rgb(184, 190, 190);
    font-family: var(--font-sans);
    font-size: calc(40px + (40 - 18) * ((100vw - 300px) / (1600 - 300)));
}
.fontp1{
    color:#b0c0bc;
    font-family: var(--fz-xl);
    font-size: calc(14px + (14 - 6) * ((100vw - 300px) / (1600 - 300)));
}
.fontp2{
    color:#64ffda;
    font-family: var(--fz-xl);
    font-size: calc(18px + (18 - 9) * ((100vw - 300px) / (1600 - 300)));

}
.fontp3{
    color:#b0c0bc;
    font-family: var(--fz-xl);
    font-size: calc(20px + (20 - 9) * ((100vw - 300px) / (1600 - 300)));
}
.fontp4{
    color:#b0c0bc;
    font-family: var(--fz-xl);
    font-size: calc(18px + (18 - 9) * ((100vw - 300px) / (1600 - 300)));
    border: 2px inset #64ffda;
}
.my-class1, .my-class2, .my-class3,.my-class4{
    background-color: rgb(12, 28, 41);
    padding: 20px;
 
}
.my-class2{
    text-align: center;
}
.my-class2 img, .my-class3 img, .my-class4 img{
border: 4px inset #64ffda;
}
.fontgreen{
    color:#64ffda;
}
.img-hov:hover{
    /* background-color:#64ffda; */
filter:green;
-webkit-filter: grayscale(1);
-webkit-transition: all .2s ease-in-out;  
}
.my-photo img{
    text-align: center;
    filter:green;
-webkit-filter: grayscale(1);
-webkit-transition: all .2s ease-in-out; 
}
.my-photo img:hover{
    filter: none;
    -webkit-filter: grayscale(0);
    -webkit-transform: scale(1.01);}
.my-photo{
    text-align: center;
    box-shadow: 2px 2px #64ffda;
    box-shadow: 5px 5px 20px 5px #64ffda inset;
}